body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-image: url('http://uno-net.us.to/asset/shine3.png');
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-image: url('http://uno-net.us.to/asset/shine-purple2-short.png');
  color: black;
}

.topnav a.active {
 background-image: url('http://uno-net.us.to/asset/shine-purple-short.png');
  color: white;
}







@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:600&display=swap')

$background: #f8f8f8
$button-gradient: #D8D9DB 0%, #fff 80%, #FDFDFD 100%
$button-border: #8F9092
$button-text: #606060

$highlight-bottom: 0 4px 3px 1px #FCFCFC
$shadow-bottom: 0 6px 8px #D6D7D9
$shadow-top: 0 -4px 4px #CECFD1
$highlight-top: 0 -6px 4px #FEFEFE
$shadow-inset: inset 0 0 3px 0 #CECFD1
$shadow-inset-hover: inset 0 0 3px 3px #CECFD1
$shadow-inset-focus: inset 0 0 10px 0px rgba(0, 0, 250, .6)
$shadow-inset-active: inset 0 0 5px 3px #999, inset 0 0 30px #aaa

$button-shadow-base: $highlight-bottom, $shadow-bottom, $shadow-top, $highlight-top
$button-shadow-default: $button-shadow-base, $shadow-inset
$button-shadow-hover: $button-shadow-base, $shadow-inset-hover
$button-shadow-focus: $button-shadow-base, $shadow-inset-focus
$button-shadow-active: $button-shadow-base, $shadow-inset-active

@keyframes active
  from
    box-shadow: $button-shadow-focus
  to
    box-shadow: $button-shadow-hover

*,
*:before,
*:after
  box-sizing: border-box
body
  margin: 0
  padding: 30px
  background: $background
  min-height: 100vh
  display: flex
  align-items: center
  justify-content: center
.grid
  max-width: 400px
  margin: 0 auto
  display: grid
  grid-template-columns: 150px 150px 50px
  align-items: center
  justify-content: center
  grid-gap: 40px 25px
button,
[role="button"]
  -webkit-appearance: none
  user-select: none
  display: flex
  align-items: center
  justify-content: center
  outline: none
  cursor: pointer
  width: 150px
  height: 50px
  background-image: linear-gradient(to top, $button-gradient)
  border-radius: 30px
  border: 1px solid $button-border
  box-shadow: $button-shadow-default
  transition: all .2s ease
  font-family: "Source Sans Pro", sans-serif
  font-size: 14px
  font-weight: 600
  color: $button-text
  text-shadow: 0 1px #fff
  &::-moz-focus-inner
    border: 0
  & > *
    transition: transform .2s ease
  &:hover:not([disabled])
    box-shadow: $button-shadow-hover
    & > *
      transform: scale(.975)
  &:focus:not(:active)
    animation: active .9s alternate infinite
    outline: none
  &:active:not([disabled])
    box-shadow: $button-shadow-active
    & > *
      transform: scale(.95)
  &:disabled
    opacity: 0.6
    cursor: not-allowed
  &.icon
    width: 50px
    svg
      margin-top: 3px
      width: 30px
      height: 30px












 /* Container holding the image and the text */
.container {
  position: relative;
  text-align: center;
  color: black;
}

/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

/* Top left text */
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

/* Top right text */
.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

/* Bottom right text */
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} 

body {
    text-align: center;
    color: #1f1017;
    text-shadow: 0.5pt 0.5pt #fbbfcb77;
  background-image: url("https://cdn.glitch.global/be99f798-dffd-4332-91b6-185f5e91c3cc/bg.png?v=1702977383308");
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
a {
  color: ;
}
code {
  color: #FFFF00;
}
.gcse-search {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
section {
  border: black 5px solid;
  display: block;
}
section h1 {
  border: black 5px solid;
}
hr {

}


body {
  background-image: url('https://cdn.glitch.global/be99f798-dffd-4332-91b6-185f5e91c3cc/bg.png?v=1702977383308');
}





/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 48%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}
